body {
    margin: 0;
}

#video-grid {
    display: flex;
    flex-wrap: wrap;

    margin: 4% 10%;
}

.video-card {
    width: calc(25% - 16px);
    box-shadow: 0 0 8px #ccc;
    border-radius: 6px;
    margin: 8px;
}

.thumbnail {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.video-title {
    font-size: 18px;
    margin: 0;
    padding: 16px;
}

#btn-counter {
    font-size: 24px;
    margin: 24px;
}